{% extends "./base.html" %}
{% block body %}

<br>
<div class='container'>
<form action="{% url 'searchbar' %}" method="get">
  <input type="text" name="search">
  <button type="submit" >Buscar</button>
</form>
{%if post%}
<p>Busqueda Exitosa</p>
</div>




  <table border=1px cellspacing=0 class="table table-striped">
    <tr>
      <th>ID_SGI</th>
      <th>Zona</th>
      <th>HUB</th>
      <th>Comuna</th>
      <th>Clave</th>
      <th>Cuadrantes</th>
      <th>Cantidad_N</th>
      <th>Fecha_Solicitud</th>
      <th>OBS_Solicitud</th>
      <th>Tipo_Solucion</th>
      <th>Clientes_Afectados</th>
      <th>Estado_Ejecucion</th>
      <th>Tipo_de_Red</th>
      <th>Estado_Design_Simplificado</th>
      <th>Fecha_Design</th>
      <th>Asignacion_Energía</th>
      <th>Estado_Ejecucion_2</th>
      <th>Fecha_Ejecucion</th>
      <th>Motivo</th>
      <th>KPI_EJECUCION</th>
      <th>Estado_CaPO</th>
      <th>Fecha_Estado</th>
      <th>Horas_95</th>
      <th>Horas_90</th>

    </tr>
  {%for i in post %}
    <tr>
      <td>{{i.ID_SGI}}</td>
      <td>{{i.Zona}}</td>
      <td>{{i.HUB}}</td>
      <td>{{i.Comuna}}</td>
      <td>{{i.Clave}}</td>
      <td>{{i.Cuadrantes}}</td>
      <td>{{i.Cantidad_N}}</td>
      <td>{{i.Fecha_Solicitud}}</td>
      <td>{{i.OBS_Solicitud}}</td>
      <td>{{i.Tipo_Solucion}}</td>
      <td>{{i.Clientes_Afectados}}</td>
      <td>{{i.Estado_Ejecucion}}</td>
      <td>{{i.Fecha_Cancelado}}</td>
      <td>{{i.Tipo_de_Red}}</td>
      <td>{{i.Estado_Design_Simplificado}}</td>
      <td>{{i.Fecha_Design}}</td>
      <td>{{i.Asignacion_Energía}}</td>
      <td>{{i.Estado_Ejecucion_2}}</td>
      <td>{{i.Fecha_Ejecucion}}</td>

      <td>{{i.KPI_EJECUCION}}</td>
      <td>{{i.Estado_CaPO}}</td>
      <td>{{i.Fecha_Estado}}</td>
      <td>{{i.Horas_95}}</td>
      <td>{{i.Horas_90}}</td>

  {%endfor%}

  {%else%}
    <p>Nothing.</p>
{%endif%}


{% endblock %}
